django==6.0.2
psycopg2-binary
gunicorn==25.1.0
django-cors-headers==4.9.0
requests==2.32.5
djangorestframework==3.16.1
django-auth-adfs==1.16.0
setuptools==82.0.0
azure-storage-blob==12.28.0
whitenoise==6.11.0
pyobjc==12.1
urllib3>=2.2.0,<3.0.0
Pillow==12.1.1
python-magic==0.4.27
django-ratelimit==4.1.0
packaging>=24.0
